akka
{
	system.name = "cluster-system"

	actor
	{
		provider = cluster

		stdout-loglevel = DEBUG
		loglevel = DEBUG
		log-config-on-start = on        

        debug 
		{  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
	}

	remote
	{
		dot-netty.tcp
		{
			port = 0
			hostname = localhost
		}
	}

	cluster 
	{
        seed-nodes = ["akka.tcp://cluster-system@localhost:8081"]
		#seed-nodes = ["akka.tcp://cluster-system@localhost:4053"]
    }
}