#receiver = "akka.tcp://router-system@localhost:8081/user/BasicActors"
#receiver = "akka.tcp://cluster-system@localhost:8081/user/BasicActor"
receiver = "akka.tcp://cluster-system@localhost:8081/user/BasicActors"
#receiver = "akka.tcp://cluster-system@localhost:8081/user/GossipReceiveActor"
#receiver = "akka.tcp://remote-node-system@localhost:8081/user/remotedeploy"
#receiver = "akka.tcp://remote-deploy-system@localhost:8081/user/remotedeploy" #OK
#receiver = "akka.tcp://cluster-system@localhost:4053/user/BasicActors"

akka
{
	system.name = "tester-system"

	actor
	{
		provider = remote

		stdout-loglevel = DEBUG
		loglevel = DEBUG
		log-config-on-start = on        

        debug 
		{  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
        }
	}
	
	remote
	{
		dot-netty.tcp
		{
			port = 9000
			hostname = localhost
		}
	}

	cluster 
	{
        #seed-nodes = ["akka.tcp://cluster-system@localhost:8081"]
		seed-nodes = ["akka.tcp://cluster-system@localhost:4053"]
    }
}